.wrapper{
    font-size: 0.29rem;
}
.wrapper a{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    margin: 0 4px;
}
.svgContainer{
    margin-bottom: -0.3rem;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.textContainer{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    background-color: #1a1a1a;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text > div{
    margin-left: 0.3rem;
    line-height: 2;
}
.email{
    white-space: nowrap;
}
.wechat{
    margin: 0.2rem 0;
    text-align: center;
    max-width: 3rem;
}
.wechatImg{
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border-radius: 0.3rem;
    padding: 0.2rem;
}