.autoinput-container{
    margin-bottom: 1.5rem;
}
.autoinput-container > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.autoinput{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.3rem 0;
    border: 0;
    border-bottom: 1px solid #cccccc;
    transition: all ease-in 0.3s;
    outline: 0;
}
.autoinput-container > input:focus{
    border-color: #1a1a1a;
    text-indent: 1rem;
}
.autoinput-options-container{
    width: 90%;
    margin: 0 auto;
    padding: 0.3rem 0;
    font-weight: lighter;
}
.autoinput-options-container > ul{
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px var(--shadow),
        -3px 3px 3px var(--shadow);
}
.autoinput-options-container li{
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border);
    transition: background-color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.autoinput-options-container li:last-child{
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.autoinput-options-container li:hover{
    background-color: var(--background);
}