.backend-container{
    min-height: calc(100vh - 254px);
    font-size: 0.9rem;
    padding-top: 2rem;
}
.backend-title{
    text-align: center;
    margin-bottom: 15px;
}
.backend-title > span{
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 200px;
}
.backend-title > span::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -10%;
}
.backend-empty{
    text-align: center;
    margin: 1.5rem 0;
    color: var(--error);
}
.backend-total{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid var(--border);
}
.backend-total-bind{
    font-size: 48px;
    margin-right: 0.5rem;
}
.backend-total-unbind{
    margin-left: 0.5rem;
}
.backend-list{
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}
.backend-list > table{
    width: 100%;
    overflow-x: scroll;
}
.backend-list-head th{
    border-bottom: 1px solid var(--border);
    padding: 0.5rem 0;
    color: var(--black);
    vertical-align: bottom;
}
.backend-list-body{
    text-align: center;
}
.backend-list-body > tr{
    border-bottom: 1px solid var(--border);
}
.backend-list-body > tr > td{
    padding: 0.4rem 0;
    vertical-align: middle;
}
.backend-list-body > tr > td:nth-child(4){
    font-weight: bolder;
}
td.untreated{
    color: #808080;
}
td.registered{
    color: #8a6d3b;
}
td.received{
    color: #8a6d3b;
}
td.under_experiment{
    color: #ca9334;
}
td.succeeded{
    color: #77c761;
}
td.failed{
    color: #a4000f;
}
td.noBarCode{
    color: #808080;
}