.input-container{
    margin-bottom: 1.5rem;
}
.input-container > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.input{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.3rem 0;
    border: 0;
    border-bottom: 1px solid #cccccc;
    transition: all ease-in 0.3s;
    outline: 0;
}
.input-container > input:focus{
    border-color: #1a1a1a;
    text-indent: 1rem;
}
.success{
    border-color: #3c763d;
}
.error{
    border-color: #a94442;
}
.input-error{
    margin: 0.5rem 0;
    color: #a94442;
    text-indent: 1rem;
}