.overview-container{
    min-height: calc(100vh - 200px);
    padding-top: 2rem;
    font-size: 0.9rem;
}
.overview-title{
    text-align: center;
    margin-bottom: 15px;
}
.overview-title > span{
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 200px;
}
.overview-title > span::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -10%;
}
.overview-age-prediction{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--border);
}
.overview-total{
    margin-bottom: 1rem;
}
.overview-total > div{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--border);
    line-height: 2;
}
.overview-total-label{
    display: inline-block;
    width: 50%;
    max-width: 50%;
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
}
.overview-total-label:first-child{
    border-right: 1px solid var(--border);
}
.overview-total-label > span{
    float: right;
    font-weight: bolder;
    margin-right: 0.3rem;
}
.overview-abnormal{
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
}
.overview-abnormal-title{
    font-weight: bolder;
    margin-bottom: 1rem;
}
.overview-abnormal-title > span{
    color: var(--theme);
}
.overview-abnormal-content{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    box-shadow: 0 0 7px var(--shadow);
    border-radius: 7px;
}
.overview-abnormal-content > div:first-child{
    margin: 0 1rem;
    padding: 0.4rem 0;
    background-color: var(--theme);
    color: #ffffff;
    border-radius: 1rem;
    writing-mode: vertical-lr;
}
.overview-abnormal-content > div:last-child{
    margin-right: 1rem;
}
.overview-flora{
    margin-bottom: 1rem;
}
.overview-flora-items{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 0 7px var(--shadow);
    border-radius: 7px;
}
.overview-abnormal-content-item{
    line-height: 1.8;
}
.overview-abnormal-content-item span.title{
    font-weight: bolder;
}
.overview-abnormal-content-item span.item{
    font-weight: bolder;
    color: var(--theme);
}
.overview-abnormal-content-item span.item-margin{
    margin-left: 1rem;
    font-weight: bolder;
    color: var(--theme);
}
.overview-flora-item-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 0.5rem;
    color: var(--theme);
}
.overview-flora-item-header > div:first-child{
    font-size: 1.3rem;
    font-weight: lighter;
}
.overview-flora-item-header > div:last-child{
    padding: 0.2rem 0.5rem;
    background-color: var(--theme);
    color: #ffffff;
    border-radius: 1rem;
}
.overview-flora-item-header > div:last-child.normal{
    background-color: var(--riskNormal);
}
.overview-flora-item-body{
    line-height: 1.8;
    margin-bottom: 0.5rem;
}
.overview-flora-item-progress{
    padding: 0.5rem 0;
}
.overview-flora-item-result{
    border-left: 5px solid var(--theme);
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    border-radius: 5px;
    background: var(--textContainer);
    font-weight: bolder;
}
.overview-result{
    width: 93%;
    margin: 0 auto;
}
.overview-result > table{
    width: 100%;
    overflow-x: scroll;
}
.overview-result-info{
    color: var(--theme);
    font-weight: bolder;
}
.overview-result-table-head > th{
    border-bottom: 1px solid var(--border);
    padding: 0.5rem 0;
    color: var(--black);
    vertical-align: bottom;
}
.overview-result-table-body{
    text-align: center;
}
.overview-result-table-body > tr{
    border-bottom: 1px solid var(--border);
}
.overview-result-table-body > tr > td{
    padding: 0.5rem 0;
    vertical-align: middle;
}
.overview-result-table-name{
    min-width: 95px;
}
.overview-results{
    color: var(--riskNormal);
    font-weight: bolder;
}
.overview-result-below, .overview-result-above{
    color: var(--theme);
}
.overview-result-below::after{
    content: '↓';
    margin-left: 5px;
    position: relative;
}
.overview-result-above::after{
    content: '↑';
    margin-left: 5px;
    position: relative;
}
.overview-total-graph{
    width: 100%;
    max-width: 375px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--theme);
    background-image: linear-gradient(var(--theme), var(--background));
}
.overview-total-graph-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0.5rem 0.5rem;
    text-align: center;
    font-weight: bolder;
    color: var(--white);
}
.overview-total-graph-info > p{
    width: 35%;
    text-align: left;
}
.overview-total-graph-info > p > span{
    float: right;
}
#graph{
    width: 100%;
}