.guide-container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 2rem;
    color: #666666;
}
.guide-modal{
    padding: 1rem;
}
.guide-modal > .info{
    text-indent: 1rem;
    margin-bottom: 0.5rem;
}
.guide-modal > .input{
    margin-bottom: 1rem;
}