.infoadd-container{
    width: 85%;
    margin: 0 auto;
    margin-top: 30%;
    font-size: 30px;
    color: #666666;
    --error : #a4000f;
    --wechat : #04c160;
    --fakeTheme : #ff4f76;
}
.infoadd-title{
    text-align: center;
    margin: 1.5rem;
    font-weight: bolder;
    font-size: 0.95rem;
}
.infoadd-title > .text{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.infoadd-title > .text::after{
    display: block;
    content: '';
    width: 120%;
    height: 0.6rem;
    position: relative;
    z-index: -1;
    background-color: var(--fakeTheme);
    opacity: 0.5;
    left: -10%;
    top: -0.6rem;
}
.infoadd-info{
    line-height: 1.7;
    margin-bottom: 1.5rem;
}
.infoadd-button{
    width: 80%;
    margin: 2rem auto 0;
}