.M-container{
    padding-top: 2rem;
    font-size: 30px;
    color: #666666;
    line-height: 1.5;
    --fakeTheme : #ff4f76;
    --theme : #de335e;
    --background : #ffa6ba;
    --fontColor : #ffe6eb;
    --textContainer : #fff6f8;
    --black : #1a1a1a;
    --shadow : rgba(18,18,18,.1);
    --error : #a4000f;
    --border : #dfe2e5;
    --white : #ffffff;
    --riskNormal : #77c761;
    --riskMiddle : #ffb85b;
    --riskHigh : #ff4f76;
}
.overview-age-prediction{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
}
.overview-total{
    margin-bottom: 1rem;
}
.overview-total-item{
    width: 90%;
    margin: 0 auto;
    border-top: 1PX solid var(--border);
    border-bottom: 1PX solid var(--border);
    line-height: 2;
}
.overview-total-item:last-child{
    border-top: none;
}
.overview-total-item > .overview-total-label:last-child{
    padding-left: 0.3rem;
}
.overview-total-label{
    display: inline-block;
    width: 50%;
    max-width: 50%;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
}
.overview-total-label:first-child{
    border-right: 1PX solid var(--border);
}
.overview-total-lable-item{
    float: right;
    font-weight: bolder;
    padding-right: 0.3rem;
}
.overview-abnormal{
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
}
.overview-abnormal-title{
    font-weight: bolder;
    margin-bottom: 1rem;
}
.overview-abnormal-title > .important{
    color: var(--theme);
}
.overview-abnormal-content{
    min-height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    box-shadow: 0 0 5PX var(--shadow);
    border-radius: 5PX;
}
.overview-abnormal-content > .title{
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 0.1rem 0.7rem;
    letter-spacing: 0.1rem;
    background-color: var(--fakeTheme);
    color: #ffffff;
    border-radius: 1rem;
}
.overview-abnormal-content > .overview-abnormal-content-item{
    margin: 0 1rem;
}
.overview-flora{
    margin-bottom: 1rem;
}
.overview-flora-items{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 0 5PX var(--shadow);
    border-radius: 5PX;
}
.overview-abnormal-content-item{
    line-height: 1.8;
}
.overview-abnormal-content-item .title{
    font-weight: bolder;
}
.overview-abnormal-content-item .item{
    font-weight: bolder;
    color: var(--theme);
}
.overview-abnormal-content-item .item-margin{
    margin-left: 1rem;
    font-weight: bolder;
    color: var(--theme);
}

.overview-total-graph{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: var(--textContainer);
}
.overview-total-graph > .title{
    margin: 1rem auto;
    text-align: center;
    font-weight: bolder;
}
.overview-total-graph-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0.5rem 0.5rem;
    text-align: center;
    font-weight: bolder;
    color: var(--white);
}
.overview-total-graph-info > p{
    width: 35%;
    text-align: left;
}
.overview-total-graph-info > p > span{
    float: right;
}
#graph{
    width: 100%;
}