.footer-wrapper{
    font-size: 14px;
}
.footer-wrapper a{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    margin: 0 4px;
}
.footer-svgContainer{
    margin-bottom: -1.5rem;
    position: relative;
    overflow: hidden;
}
.footer-textContainer{
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
    background-color: var(--theme);
    color: white;
    padding-bottom: 0.5rem;
}
.footer-contact{
    margin-left: 1rem;
    line-height: 2;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-text > div{
    margin-left: 0.5rem;
    line-height: 2;
}
.footer-wechat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8rem;
    text-align: center;
}
.footer-wechat > div{
    max-width: 110px;
}
.footer-wechatImg{
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border-radius: 0.8rem;
    padding: 0.5rem;
}
.footer-text{
    margin-top: 1rem;
    text-align: center;
}