.button{
    height: 30%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button > button{
    cursor: pointer;
    display: block;
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    background-color: var(--fakeTheme);
    border: none;
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: 2rem;
    user-select: none;
    font-size: 0.9rem;
    transition: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}
.button > button.hollow{
    background-color: #ffffff;
    border: 1px solid var(--fakeTheme);
    color: var(--fakeTheme);
}
.button > button:active{
    box-shadow: 0 0 3px var(--fakeTheme);
}
.button > button.hollow:active{
    color: #ffffff;
    background: var(--fakeTheme);
    box-shadow: 0 0 3px var(--fakeTheme);
}
.button > button.disabled{
    cursor: not-allowed;
    opacity: 0.4;
}
.button > button.disabled:active{
    color: #ffffff;
    background-color: var(--fakeTheme);
    border: none;
}
.button > button.hollow.disabled:active{
    background-color: #ffffff;
    border: 1px solid var(--fakeTheme);
    color: var(--fakeTheme);
}
.button-error{
    margin: 0.5rem 0;
    color: #a4000f;
    line-height: 1rem;
    min-height: 1rem;
}