.pager{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 10px 0;
    user-select: none;
}
.pager > a{
    display: inline-block;
    height: 22px;
    line-height: 20px;
    background-color: #ffffff;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.pager > a.pager-disabled{
    opacity: 0.5;
    cursor: not-allowed;
    background: var(--theme);
    color: #ffffff;
}
.pager-current{
    font-weight: bolder;
    color: var(--theme);
}