.userInfo-container{
    width: 90%;
    min-height: calc(100vh - 200px);
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 0.9rem;
}
.userInfo-qrcode{
    position: fixed;
    width: 100%;
    top: 70%;
    z-index: 9;
    right: 0;
}
.userInfo-qrcode-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 8px var(--shadow);
    cursor: pointer;
    right: 5px;
    padding: 0.8rem;
    box-sizing: border-box;
}
.userInfo-title{
    text-align: center;
    margin-bottom: 15px;
}
.userInfo-title > span{
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 200px;
}
.userInfo-title > span::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -10%;
}
.userInfo-setting-title{
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.userInfo-setting-pass, .userInfo-setting-email{
    padding: 0.5rem 0;
}
.userInfo-setting-pass > span, .userInfo-setting-email > span{
    color: var(--theme);
    margin-left: 1rem;
    cursor: pointer;
}
.userInfo-validate-email{
    line-height: 1.7;
}
.userInfo-validate-email .email{
    font-weight: bolder;
    margin: 0 0.3rem;
}