.add-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 30px;
    color: #666666;
    --fakeTheme : #ff4f76;
    --theme : #de335e;
    --background : #ffa6ba;
    --fontColor : #ffe6eb;
    --textContainer : #fff6f8;
    --black : #1a1a1a;
    --shadow : rgba(18,18,18,.1);
    --error : #a4000f;
    --border : #dfe2e5;
    --white : #ffffff;
    --riskNormal : #77c761;
    --riskMiddle : #ffb85b;
    --riskHigh : #ff4f76;
}
.add-check{
    background: var(--white);
    border-radius: 5PX;
    padding: 1rem;
}
.add-check-info{
    line-height: 2;
}
.add-check-input{
    margin-top: 2rem;
}

.add-noti{
    line-height: 2;
    margin-bottom: 1rem;
}
.add-noti-barcode, .add-noti-email, .add-noti-username{
    margin: 0 0.5rem;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--black);
}
.add-noti-email{
    word-break: break-all;
}
.add-title{
    text-align: center;
    margin: 1.5rem;
    font-weight: bolder;
    font-size: 0.95rem;
}
.add-title > .text{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.add-title > .text::after{
    display: block;
    content: '';
    width: 120%;
    height: 0.6rem;
    position: relative;
    z-index: -1;
    background-color: var(--fakeTheme);
    opacity: 0.5;
    left: -10%;
    top: -0.6rem;
}
.add-title-sm{
    margin: 0.7rem 0;
    font-weight: bolder;
    padding-left: 1rem;
    border-left: 2PX solid var(--fakeTheme);
}
.add-name-group{
    width: 100%;
    overflow: hidden;
}
.add-name-group > .name{
    max-width: 45%;
}
.add-name-group > .name:first-child{
    float: left;
}
.add-name-group > .name:last-child{
    margin-left: 0;
    float: right;
}
.add-picker-list::after{
    border: none;
}
.add-picker-list::before{
    border: none;
}
.add-info-check{
    line-height: 1.8;
    text-align: center;
}
.add-info-name > span:last-child{
    margin-left: 1rem;
}
.add-info-other > span:last-child{
    margin-left: 1rem;
}
.add-submit-btn{
    margin-top: 1rem;
    width: 80%;
}
.add-indexes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}