.home-container{
    min-height: calc(100vh - 104px);
    font-size: 0.9rem;
}
.home-textContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-logoContainer{
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 320px;
    overflow: hidden;
    display: flex;
}
.home-logoContainer > img{
    width: 120px;
    padding: 0 10px;
}
.home-logo-divide{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.home-title{
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    user-select: none;
}
.home-info{
    margin-top: 2rem;
    padding: 1rem;
    line-height: 1.8;
    background-color: var(--textContainer);
    font-weight: lighter;
}
.home-info > p{
    text-indent: 1rem;
}
.home-other{
    margin-top: 2rem;
}
.home-agree{
    width: 90%;
    margin: 0 auto;
}
.home-agree input[type=checkbox]{
    margin-right: 0.5rem;
}
.home-agree-link{
    cursor: pointer;
    margin-left: 0.3rem;
    color: var(--theme);
    border-bottom: 1px solid var(--theme);
}
.home-agree-title{
    font-weight: bolder;
}
.home-agree-content{
    margin-top: 0.5rem;
}
.home-agree-content > p{
    text-indent: 1rem;
    word-break: break-all;
}
.home-btnContainer{
    margin-top: 1.5rem;
}
.home-btn{
    cursor: pointer;
    display: block;
    width: 30%;
    margin: 0 auto;
    border: 1px solid var(--theme);
    color: var(--theme);
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: 2rem;
    user-select: none;
    font-size: 0.9rem;
    background: transparent;
    transition: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}
button.home-btn:active{
    color: #ffffff;
    background: var(--theme);
    box-shadow: 0 0 3px var(--theme);
}
.home-error{
    margin: 0.5rem auto;
    color: var(--error);
    text-align: center;
}