.home-container{
    height: calc(100vh - 104px);
    font-size: 0.9rem;
}
.home-textContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-logoContainer{
    max-width: 320px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}
.home-logoContainer > img{
    width: 120px;
    padding: 0 10px;
}
.home-logo-divide{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.home-title{
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    user-select: none;
}
.home-btnContainer{
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.home-btn{
    cursor: pointer;
    display: block;
    width: 30%;
    margin: 0 auto;
    border: 1px solid var(--theme);
    color: var(--theme);
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: 2rem;
    user-select: none;
    font-size: 0.9rem;
    background: transparent;
    transition: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}
button.home-btn:active{
    color: #ffffff;
    background: var(--theme);
    box-shadow: 0 0 3px var(--theme);
}
.home-error{
    margin: 0.5rem auto;
    color: var(--error);
    text-align: center;
}