.reportList-container{
    min-height: calc(100vh - 200px);
    padding-top: 2rem;
    font-size: 0.9rem;
}
.reportList-title{
    text-align: center;
    margin-bottom: 15px;
}
.reportList-title > span{
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 200px;
}
.reportList-title > span::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -10%;
}
.reportList-content{
    width: 100%;
}
.reportList-info{
    margin-bottom: 1rem;
    background-color: var(--textContainer);
    padding: 1rem;
}
.reportList-empty{
    text-align: center;
    margin: 1.5rem 0;
    color: var(--error);
}
.reportList-table{
    width: 100%;
    overflow-x: scroll;
    margin-top: 1.5rem;
}
.reportList-table-header > th{
    line-height: 2;
    border-bottom: 1px solid var(--border);
    color: #1a1a1a;
    padding: 0.5rem 0;
}
.reportList-table-body{
    line-height: 2;
    text-align: center;
    border-bottom: 1px solid var(--border);
}
.reportList-table-body > td{
    padding: 8px;
}
.reportList-table-body > td:nth-child(3){
    font-weight: bolder;
    cursor: pointer;
}
td.untreated{
    color: #cccccc;
}
td.registered{
    color: #f5871f;
}
td.received{
    color: #718c00;
}
td.experimenting{
    color: #8959a8;
}
td.succeeded{
    color: #5ead1c;
}
td.failed{
    color: #a4000f;
}
td.noBarCode{
    color: #808080;
}
.reportList-btn{
    display: inline-block;
    padding: 0 0.8rem;
    border: 1px solid var(--theme);
    color: var(--theme);
    cursor: pointer;
    border-radius: 3px;
}
.reportList-status{
    margin-left: 1rem;
    overflow: auto;
}
.reportList-status > li{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 1rem 2rem;
    opacity: 0.5;
}
.reportList-status > li:first-child{
    opacity: 1;
}
.reportList-status > li:last-child{
    border: none;
    margin: 0 0 0 2rem;
}
.reportList-status > li.failed{
    color: var(--error);
}
.reportList-status-time{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: right;
    font-size: 0.7rem;
    padding-right: 0.3rem;
}
.reportList-status-time::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--black);
    right: -1.2rem;
    top: 50%;
    opacity: 0.4;
}
.reportList-status > li:last-child > .reportList-status-time::after{
    display: none;
}
.reportList-status-time > span:nth-child(2){
    font-size: 1rem;
}
.reportList-status-icon{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    border: 1px solid var(--border);
    padding: 0.3rem;
    margin: 0 0.2rem 0 0.1rem;
    z-index: 9;
    background: var(--white);
}
.reportList-status-icon > img{
    width: 100%;
}
.reportList-status-title{
    font-weight: bolder;
}