.reportList-container{
    min-height: calc(100vh - 284px);
    padding-top: 2rem;
    font-size: 0.9rem;
}
.reportList-title{
    text-align: center;
    margin-bottom: 15px;
}
.reportList-title > span{
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 200px;
}
.reportList-title > span::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -10%;
}
.reportList-content{
    width: 100%;
}
.reportList-info{
    margin-bottom: 1rem;
    background-color: var(--textContainer);
    padding: 1rem;
}
.reportList-status{
    margin-top: 1rem;
    border-left: 5px solid var(--theme);
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    border-radius: 5px;
    background: var(--textContainer);
    font-weight: bolder;
}
.reportList-empty{
    text-align: center;
    margin: 1.5rem 0;
    color: var(--error);
}
.reportList-table{
    width: 100%;
    overflow-x: scroll;
    margin-top: 1.5rem;
}
.reportList-table-header > th{
    line-height: 2;
    border-bottom: 1px solid var(--border);
    color: #1a1a1a;
    padding: 0.5rem 0;
}
.reportList-table-body{
    line-height: 2;
    text-align: center;
    border-bottom: 1px solid var(--border);
}
.reportList-table-body > td{
    padding: 8px;
}
.reportList-btn{
    display: inline-block;
    padding: 0 0.8rem;
    border: 1px solid var(--theme);
    color: var(--theme);
    cursor: pointer;
    border-radius: 3px;
}