.userinfo-container{
    margin-top: 1.5rem;
    font-size: 30px;
    color: #666666;
    --error : #a4000f;
    --fakeTheme : #ff4f76;
    --shadow : rgba(18,18,18,.1);
    --grayBackground : #f5f5f5;
    --white : #ffffff;
    --gray : #cccccc;
}
.userinfo-avatar-login{
    text-align: center;
    margin-bottom: 1rem;
    line-height: 2;
    font-weight: bolder;
    font-size: 1.2rem;
}
.userinfo-avatar{
    background: var(--white);
    overflow: hidden;
}
.userinfo-avatar-info{
    margin-left: 1rem;
    line-height: 2;
}
.userinfo-avatar-info > .name{
    font-weight: bolder;
    font-size: 1.5rem;
}
.userinfo-avatar-info > .org{
    color: var(--gray);
    font-size: 28px;
}
.userinfo-list{
    margin: 2.5rem 0 4rem;
    background: var(--white);
}
.userinfo-logout{
    width: 80%;
    margin: 2.5rem auto 0;
    background: var(--white);
}
.userinfo-btn-container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.userinfo-setting{
    line-height: 1.7;
}
.userinfo-setting > .email{
    font-weight: bolder;
    margin: 0 0.3rem;
}