<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>报告下载</title>
    <link rel="stylesheet" href="pdf.css">
</head>
<body>
    <div id="pdf">
        <div id="page-one" class="pages">
            <div class="one-title">人体微生态监测报告</div>
            <div class="one-line"></div>
            <img class="one-img" src="./img/logo.svg" alt="logo">
        </div>
        <div id="page-three" class="pages">
            <div class="page-title three-title"><span>整体情况</span></div>
            <div class='overview-total'>
                <div>
                    <span class='overview-total-label'>受检者<span>{user.name}</span></span>
                    <span class='overview-total-label'>性别<span>{user.gender}</span></span>
                </div>
                <div>
                    <span class='overview-total-label'>生日<span>{user.birthday}</span></span>
                    <span class='overview-total-label'>报告日期<span>{user.date_of_production}</span></span>
                </div>
            </div>
        </div>
        <div id="page-four" class="pages">
            <div class="page-title four-title"><span>菌群状态分析</span></div>
            
        </div>
        <div id="page-five" class="pages">
            <div class="page-title five-title"><span>健康指标评估</span></div>
            
        </div>
        <div id="page-six" class="pages">
            <div class="page-title six-title"><span>菌群改善建议</span></div>
            
        </div>
        <div id="page-seven" class="pages">
            <div class="page-title seven-title"><span>具体检测结果</span></div>
            
        </div>
        <div id="page-eight" class="pages">
            <div class="page-title eight-title"><span>肠道菌群知识科普</span></div>
            
        </div>
    </div>
</body>
</html>