.pdf-holder{
    width: 90%;
    min-height: calc(100vh - 200px);
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 0.9rem;
}
.pdf-holder-info{
    text-align: center;
    margin-top: 5rem;
}
/* .pdf{
    display: none;
} */