.login-container{
    width: 85%;
    margin: 0 auto;
    margin-top: 30%;
    font-size: 30px;
    color: #666666;
    --error : #a4000f;
    --wechat : #04c160;
    --fakeTheme : #ff4f76;
    --cancle : #f2f2f2;
}
.login-title{
    text-align: center;
    margin: 1.5rem;
    font-weight: bolder;
    font-size: 0.95rem;
}
.login-title > .text{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.login-title > .text::after{
    display: block;
    content: '';
    width: 120%;
    height: 0.6rem;
    position: relative;
    z-index: -1;
    background-color: var(--fakeTheme);
    opacity: 0.5;
    left: -10%;
    top: -0.6rem;
}
.login-btn{
    width: 80%;
    margin: 40% auto 0;
    border: none;
}
.login-btn-wechat{
    width: 80%;
    margin: 2rem auto 0;
    border: none;
    background: var(--wechat);
}
.login-btn-cancle{
    width: 80%;
    margin: 2rem auto 0;
    border: none;
    color: var(--wechat);
    background: var(--cancle);
}