.shareSign-container{
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 2rem;
    color: #666666;
    --error : #a4000f;
    --fakeTheme : #ff4f76;
    --shadow : rgba(18,18,18,.1);
    --grayBackground : #f5f5f5;
    --white : #ffffff;
    --gray : #cccccc;
    --border : #dfe2e5;
}
.shareSign-title{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-size: 0.95rem;
}
.shareSign-title > .text{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.shareSign-title > .text::after{
    display: block;
    content: '';
    width: 120%;
    height: 0.6rem;
    position: relative;
    z-index: -1;
    background-color: var(--fakeTheme);
    opacity: 0.5;
    left: -10%;
    top: -0.6rem;
}
.shareSign-generate{
    width: 90%;
    margin: 0 auto 1rem;
}
.shareSign-generate > .button{
    margin-top: 1rem;
}

.table{
    display: table;
}
.thead{
    display: table-header-group;
}
.tbody{
    display: table-row-group;
}
.tr{
    display: table-row;
}
.td{
    display: table-cell;
}
.shareSign-list-container{
    margin-bottom: 5rem;
}
.shareSign-list{
    margin-bottom: 1rem;
}
.shareSign-list .table{
    width: 100%;
    text-align: center;
}
.shareSign-list .thead .tr{
    color: var(--black);
    vertical-align: bottom;
    font-weight: bolder;
}
.shareSign-list .thead .td{
    border-bottom: 1PX solid var(--border);
    padding: 0.5rem 0;
}
.shareSign-list .tbody{
    text-align: center;
    font-size: 0.92rem;
    font-size: 1.6;
}
.shareSign-list .tbody .td{
    padding: 0.5rem 0;
    vertical-align: middle;
    border-bottom: 1PX solid var(--border);
}
.tbody .link{
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.shareSign-code-container{
    border-radius: 0.3rem;
    border: 1PX solid var(--border);
    margin: 1rem 0;
}
.shareSign-code-container > .title{
    height: 2.5rem;
    padding-left: 1rem;
    line-height: 2.5rem;
    font-weight: bolder;
    border-bottom: 1PX solid var(--border);
}
.shareSign-code-container > .img{
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 1rem auto;
}
.shareSign-code-container > .time{
    padding: 0 1rem;
    margin: 0.5rem auto 1rem;
}

.shareSign-empty{
    text-align: center;
    opacity: 0.8;
}
.shareSign-gen{
    width: 90%;
    margin: 0 auto;
}
.shareSign-gen > .radio{
    margin: 1rem 0;
}
.selected-img{
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 1rem auto;
}
.shareSign-show-code{
    margin-top: 1.5rem;
}
.shareSign-show-code > .time,
.shareSign-show-code > .pass{
    padding: 0 1rem;
    margin: 0.5rem auto 1rem;
}
.shareSign-show-code > .img{
    display: block;
    width: 9rem;
    height: 9rem;
    margin: 0 auto 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 5PX var(--border);
    border-radius: 5PX;
}