.add-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 0.9rem;
}
.add-noti > p{
    line-height: 2;
}
.add-noti-barcode, .add-noti-email{
    font-size: 1rem;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid var(--background);
    color: var(--black);
}
.add-noti-email{
    white-space: nowrap;
}
.add-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-label{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
}
.add-label::after{
    display: block;
    position: relative;
    content: "";
    width: 110%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -5%;
}
.add-divide{
    width: 80%;
    margin: 1rem auto;
    height: 1px;
    background-color: #cccccc;
}
.add-code{
    margin-bottom: 1.5rem;
}
.add-code > label:first-child{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.add-code-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}
.add-form-input{
    margin-bottom: 1.5rem;
}
.add-form-input > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.add-form-inputs{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #cccccc;
    transition: all;
    transition: ease-in 0.3s;
    outline: 0;
}
.add-form-input > input:focus{
    border-color: var(--black);
    text-indent: 1rem;
}
.error{
    border-color: var(--error);
}
.add-form-error{
    text-align: center;
    margin: 0.5rem 0;
    color: var(--error);
    text-indent: 1rem;
}
.add-form-btn{
    display: block;
    width: 85%;
    color: white;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-weight: bolder;
    border: 0;
    line-height: 1.8;
    padding: 0.5rem;
    border-radius: 2rem;
    /* background: linear-gradient(#ff7fb8, #466cfd);#5c7cff; */
    background: var(--fakeTheme);
    transition: opacity ease-in 0.3s;
    cursor: pointer;
}
.disabled{
    opacity: 0.4;
}