.edit-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 0.9rem;
}
.edit-back{
    position: fixed;
    width: 100%;
    top: 70%;
    z-index: 9;
    right: 0;
}
.edit-back-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 8px var(--shadow);
    cursor: pointer;
    right: 5px;
    padding: 1rem;
    box-sizing: border-box;
}
.edit-noti > p{
    line-height: 2;
}
.edit-noti-barcode, .edit-noti-testeeCode, .edit-noti-time{
    margin: 0 0.5rem;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--black);
}
.edit-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-label{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
}
.edit-label::after{
    display: block;
    position: relative;
    content: "";
    width: 110%;
    height: 0.7rem;
    opacity: 0.8;
    z-index: -1;
    background: var(--theme);
    opacity: 0.5;
    top: -0.7rem;
    left: -5%;
}
.edit-divide{
    width: 80%;
    margin: 1rem auto;
    height: 1px;
    background-color: #cccccc;
}
.edit-code{
    margin-bottom: 1.5rem;
}
.edit-code > label:first-child{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.edit-code-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}
.edit-form-input{
    margin-bottom: 1.5rem;
}
.edit-form-input > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.edit-form-inputs{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #cccccc;
    transition: all;
    transition: ease-in 0.3s;
    outline: 0;
}
.edit-form-input > input:focus{
    border-color: #1a1a1a;
    text-indent: 1rem;
}
.edit-for-testee{
    margin-bottom: 1.5rem;
    overflow: auto;
}
.edit-for-testee > span{
    float: right;
    color: var(--theme);
    margin-right: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.edit-testee-container{
    max-height: 350px;
    overflow-y: scroll;
}
.edit-testee-container > p{
    margin: 0 1rem 0.5rem 0;
}
.error{
    border-color: var(--error);
}
.edit-form-error{
    text-align: center;
    margin: 0.5rem 0;
    color: var(--error);
    text-indent: 1rem;
}
.edit-form-btn{
    display: block;
    width: 85%;
    color: white;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-weight: bolder;
    border: 0;
    line-height: 1.8;
    padding: 0.5rem;
    border-radius: 2rem;
    background: var(--fakeTheme);
    transition: opacity ease-in 0.3s;
    cursor: pointer;
}
.disabled{
    opacity: 0.4;
}